<h1>Hello world!</h1>
<ul>
	{{#each messages }}
	<li>{{this.message}}</li>
	{{/each}}
	</ul>
<form action = "message" method = "POST">
	<input autofocus type = "text" name = "message" id = "message-input" placeholder = "say something">
	<button> send message </button>
</form>
{{#if user }}
<h2> 
	{{user.name}}
	</h2>
{{/if}}
<a href = "register"> register </a>
<br>
<a href = "login"> login </a>